<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% block head_block %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static "base.css" %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>TikAtYun</title>
    {% endblock %}

</head>
<body>
    {% block navbar %}
    <div class="bgimage1">
    <header>
        <nav>
            <ul class="nav_header">
                <li><a href="/admin">ADMIN</a></li>
                <li><a href="{% url 'index' %}">INDEX</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'colorpicker' %}">COLORPICKER</a></li>
                <li><a href="{% url 'logout' %}">LOGOUT</a></li>
                {% else %}
                <li><a href="{% url 'user_password:registration' %}">REGISTER</a></li>
                <li><a href="{% url 'user_password:user_login' %}">LOGIN</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    </div>
    {% endblock %}
    <div class="extends">
    {% block body_block %}
        <h1 class="wordsplay">UNCHAIN</h1>
    {% endblock %}
    </div>
</body>
</html>