@import url("https://fonts.googleapis.com/css?family=Montserrat+Subrayada:700|Montserrat:500,800&display=swap");

* {
  background-color: lightslategray;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 13px;
  font-family: Montserrat, Helvetica, sans-serif;
  font-weight: 500;
  font-display: swap;
}

.wordsplay {
  font-family: Montserrat, Helvetica, sans-serif;
  font-size: 3.5em;
  font-weight: 600;
  letter-spacing: 0.5em;
  display: flex;
  justify-content: center;
  margin-top: 70px;
  background-color: transparent;
}

.bgimage {
  background-image: url("/static/image/first_pic.jpeg");
  width: 100%;
  height: 70vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  padding-top: 30px;
}

.nav_header {
  list-style: none;
  opacity: inherit;
}

.nav_header li {
  display: inline-block;
  padding: 0 20px 10px 20px;
  cursor: pointer;
}

.nav_header li a {
  color: white;
  transition: all 0.5s ease;
  letter-spacing: 0.2em;
  text-decoration: none;
}

.nav_header li a:hover {
  color: black;
}

.extends {
  padding: 40px 10%;
  margin: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
}

/* LOGIN_PAGE */

.login-section {
  text-align: center;
  padding: 40px 0;
  box-sizing: border-box;
}

.login-section h1 {
  padding-bottom: 40px;
}

.login-section form {
  display: flex;
  flex-direction: column;
}

.login-section label {
  text-align: left;
  margin-bottom: 0;
}

.login-section input {
  margin-bottom: 40px;
  color: #252525;
}

.username,
.password {
  outline: none;
  width: 360px;
  border: none;
  border-bottom: 1px solid black;
  padding: 4px 5px;
}

.login-button {
  align-self: center;
  width: 40%;
  padding: 10px 40px;
  border: 1px solid black;
  border-radius: 4px;
  transition: 0.4s ease;
}

.login-button:hover {
  color: white;
  background-color: #252525;
}

.register-section {
  text-align: center;
  padding: 40px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.login-section h1 {
  margin-bottom: 40px;
  color: #252525;
}
.register-section input {
  margin-bottom: 40px;
  color: #252525;
}
